body {
    margin: 0;
  }

.page-header {
    background-color: #fdd200;
    overflow: hidden;
    padding: 20px 10px;
    margin: 0px;
    box-shadow: 0px 3px 5px grey;

}

/* Надо бы пофиксить */
.header-right {
    float: right;
    vertical-align: bottom;
    height: 38px;

  }

.header-left {
    float: left;
  }  


.page-header a{
    vertical-align: middle;
    display: inline;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    padding: 12px;
    color: black;
    text-decoration: none;
}

.page-header a.active {
    border-radius: 25px;
    background-color: #fdd200;
    color: black;
    border: 2px solid black;
  }

.page-header a.header-text:hover{
    background-color: #dcb90e91;
}


.page-header img{
    width: 38px;
    vertical-align:middle;
    height: 38px;
} 